<h1>
    Hey <%= @current_user.full_name %>, You bookmarks are as follow...
</h1>
<ol>
    <% @bookmarks.each do |b| %>
    <h2> <li> <%= link_to b.review.title, review_path(b.review) %> </li></h2>
    <% end %>
</ol>